* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #49c5b6;
    color: #333;
    margin: 0;
}

h1 {
    background-color: #DF6C4F;
    color: #fff;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #DF6C4F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color:#fff;
    text-align: center; 
    display:flex;
    flex-wrap:wrap;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
}

input[type="submit"]:hover {
    background-color: #555;
}

#task-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #DF6C4F;
    color:#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#task-list ul {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.is-done-checkbox {
    margin: 0;
}
